---
import Layout from '../layouts/Layout.astro'
import News from '@components/news.astro'
import Publications from '@components/publications.astro'
import Educations from '@components/educations.astro'
import Experiences from '@components/experiences.astro'
import Contact from '@components/contact.astro'
import Awards from '@/components/awards.astro'
import Bar from '@components/bar.astro'
---

<Layout title="HyoJeong Yun">
	<article class="prose mx-auto">
		<h1>HyoJeong Yun</h1>
		<p>Interested in vector database and multi-modal embeddings.</p>
		<Bar/>
		<Contact/>
		<Bar/>
		<News/>
		<Bar/>
		<Publications/>
		<Bar/>
		<Educations/>
		<Bar/>
		<Awards/>
		<Bar/>
		<Experiences/>
	</article>
</Layout>