---
import award from '@assets/award'
---

<div>
    <h3>Awards</h3>
    <ul>
        {award.award.map((awa) => (
            <li>
                {awa.title} ({awa.date}) from {awa.organization}:
                <br/>
                {awa.description}
            </li>
        ))}
    </ul>
</div>