---
import contact from '@assets/contact'
---

<div>
    <h3>Contact</h3>
    <a href={`mailto:${contact.contact.email}`}>Email</a>
    <a href={contact.contact.linkedin}>LinkedIn</a>
    <a href={contact.contact.github}>GitHub</a>
</div>